// Colors also defined in Formatters.js
@gscBlue: #01589b;
@gscLightBlue: #9dbed8;

.sdgviz-select-drilldown {
  margin-bottom: 2em;

  button {
    cursor: pointer;
  }
}
.sdgv-svg-container {
  float: left;
}
.sdgv-svg {
  .thermometer {
    .therm-body {
      fill: white;
    }
  }

  .therm-amt-indicator {
    path {
      fill: @gscBlue;
    }
    text {
      font-family: sans-serif;
      font-size: 10px;
      color: white;
      fill: white;
    }
  }

  .axis.y > {
    path.domain {
      display: none;
    }
    .tick {
      line {
        stroke: @gscBlue;
      }
      text {
        fill: @gscBlue;
      }
    }
  }

  .chart-canvas.clickable .glyph {
    cursor: pointer;
  }
}

.sdgviz-table {
  width: 450px;

  border-collapse: collapse;

  thead {
    font-weight: bold;
  }

  @bgColor: #FFF;
  @tableColor: #666;

  tr {
    color: @tableColor;
    background-color: @bgColor;
    &:nth-child(even) {
      // override wp theme alternate-row coloring
      color: @tableColor;
      background-color: @bgColor;
    }

    &.drilldown-record td, &.dilldown-summary-record td {
      border-top-color: @bgColor;
      border-bottom-color: @bgColor;
    }
  }

  tr > td {
    padding: 3px;
  }

  .top-record {
    cursor: pointer;
  }

  .drilldown-record {
    .tree-marker, .tree-contents {
      display: inline-block;
    }

    .tree-marker {
      padding-left: 0px;
      padding-right: 10px;
      color: grey;
    }
  }

  &.by-sdg {
    .drilldown-record .tree-marker {
      padding-left: 10px;  // extra padding on by-sdg to line up with sdg box
    }
  }

  .top-record > .value,
  .drilldown-summary-record > .value,
  .all-summary > .value {
    padding-left: 20px; // to provide some spacing differentiating drilldown sums
  }

  .drilldown-summary-record, .all-summary {
    > .key {
      text-align: right;
    }
    > .key, > .value {
      font-weight: bold;
    }

    > td {
      padding-bottom: 10px;
    }
  }

  tr.hovered {
    @hoverColor: #F0F0F0;
    background-color: @hoverColor;

    &.drilldown-record td, &.dilldown-summary-record td {
      border-top-color: @hoverColor;
      border-bottom-color: @hoverColor;
    }
  }

  tr.all-summary > td {
    border-top: 1px solid black;
  }
}